{% extends "base.html" %}
{% load static %}
{% load blog_tags %}
{% block content%}
{% load humanize %}
<!-- start banner Area -->

<head>
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<section class="relative about-banner">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content col-lg-12">
				<h1 class="text-white">
					{{post.title}}
				</h1>
				<p class="text-white link-nav"><a href="{% url 'website:index' %}">Home </a> <span
						class="lnr lnr-arrow-right"></span><a href="{% url 'blog:index' %}">Blog </a> <span
						class="lnr lnr-arrow-right"></span>{{post.title}}</p>
			</div>
		</div>
	</div>
</section>
<!-- End banner Area -->

<!-- Start post-content Area -->
<section class="post-content-area single-post-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 posts-list">
				<div class="single-post row">
					<div class="col-lg-12">
						<div class="feature-img">
							<img class="img-fluid" src="{{post.image.url}}" alt="">
						</div>
					</div>
					<div class="col-lg-3  col-md-3 meta-details">
						{% for cat in post.category.all%}
					    <a href="{% url 'blog:category' cat_name=cat.name %}">{{cat.name}}</a>{% if not forloop.last%},{% endif %}<br>
						{% endfor %}<br>	
						<div class="user-details row"><br>
							<p class="user-name col-lg-12 col-md-12 col-6"><a href="#">{{post.author.get_full_name}}</a><br>
								<span class="lnr lnr-user"></span><br>
							</p><br>
							<p class="date col-lg-12 col-md-12 col-6"><a
									href="#">{{post.published_date|date:"d/M/Y"}}</a> <span
									class="lnr lnr-calendar-full"></span></p>
							<p class="view col-lg-12 col-md-12 col-6"><a href="#">{{post.counted_views}}</a> <span
									class="lnr lnr-eye"></span></p>
							<p class="comments col-lg-12 col-md-12 col-6"><a href="#">{{number_of_comments}}</a> <span
									class="lnr lnr-bubble"></span></p>
							<ul class="social-links col-lg-12 col-md-12 col-6">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-github"></i></a></li>
								<li><a href="#"><i class="fa fa-behance"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-9 col-md-9">

						<h3 class="mt-20 mb-20">{{post.title}}</h3>
						<p class="excert">
							{{post.content|safe}}
						</p>

					</div>

				</div>
				<div class="navigation-area">
					<div class="row">
						<div
							class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
							<div class="thumb">
								<a href="{{prev_post.id}}"><img class="img-fluid" src="{{prev_post.image.url}}"
										alt=""></a>
							</div>
							<div class="arrow">
								<a href="#"><span class="lnr text-white lnr-arrow-left"></span></a>
							</div>
							<div class="detials">
								{% if prev_post %}
								<p>Previous post</p>
								{% endif %}
								<a href="{{prev_post.id}}">
									<h4>{{prev_post.title}}</h4>
								</a>

							</div>
						</div>
						<div
							class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
							<div class="detials">
								{% if next_post %}
								<p>Next post</p>
								{% endif %}
								<a href="{{next_post.id}}">
									<h4>{{next_post.title}}</h4>
								</a>


							</div>
							<div class="arrow">
								<a href="#"><span class="lnr text-white lnr-arrow-right"></span></a>
							</div>
							<div class="thumb">
								<a href="{{next_post.id}}"><img class="img-fluid" src="{{next_post.image.url}}"
										alt=""></a>
							</div>
						</div>
					</div>
				</div>
				<div class="comments-area">
					{% if number_of_comments == 1%}
					<h4>{{number_of_comments}} Comment</h4>
					{% endif %}
					{% if number_of_comments > 1%}
					<h4>{{number_of_comments}} Comments</h4>
					{% endif %}
					{% if number_of_comments == 0%}
					 <h4>No Comments</h4>
					 <h4>Be the first one to leave a comment</h4>
                    {% endif %}
					{% for comment in comments %}
					<div class="comment-list">
						<div class="single-comment justify-content-between d-flex">
							<div class="user justify-content-between d-flex">
								<div class="thumb">
									<img src="{% static 'img/blog/c1.jpg' %}" alt="">
								</div>
								<div class="desc">
									<h5><a href="#">{{comment.name}}</a></h5>
									<p class="date">{{comment.created_date|naturaltime}}</p>
									<p class="comment">
										{{comment.message}}
									</p>
								</div>
							</div>
							<!--
							<div class="reply-btn">
								<a href="" class="btn-reply text-uppercase">reply</a>
							</div>-->
						</div>
					</div>
					{% endfor %}
				</div>
				<div class="comment-form">
					<h4>Leave a Comment</h4>
					<form method="post" action="{% url 'blog:single' pid=post.id %}">
						{% csrf_token %}
						<input type="hidden" name="post" value="{{post.id}}">
						{% if request.user.is_authenticated %}
						<input type="hidden" name="name" value="{{request.user.first_name}}">
						<input type="hidden" name="email" value="{{request.user.email}}">
						{% else %}
						<div class="form-group form-inline">
							<div class="form-group col-lg-6 col-md-12 name">
								<input type="text" class="form-control" name="name" placeholder="Enter Name"
									onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Name'">
							</div>
							<div class="form-group col-lg-6 col-md-12 email">
								<input type="email" class="form-control" name="email" placeholder="Enter email address"
									onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'">
							</div>
						</div>
						{% endif %}
						<div class="form-group">
							<input type="text" class="form-control" name="subject" placeholder="Subject"
								onfocus="this.placeholder = ''" onblur="this.placeholder = 'Subject'">
						</div>
						<div class="form-group">
							<textarea class="form-control mb-10" rows="5" name="message" placeholder="Messege"
								onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'"
								required=""></textarea>
						</div>
						<button type="submit" class="primary-btn text-uppercase">Post Comment</button>
					</form>
					{% if messages %}
			         {% for message in messages %}
			          <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
			         {% endfor %}
		        	{% endif %}

			        {% if form.errors %}
			         <div class="alert alert-error">
				     <h4>Please fix the following errors</h4>
				     <ul>
				     {% for field in form %}
					  {% if field.errors %}
					   {% for error in field.errors %}
					    <li><a href="#id_{{ field.name }}" class="error">{{ error|escape }}</a></li>
					   {% endfor %}
					  {% endif %}
					 {% endfor %}
				</ul>
				{% if form.non_field_errors %}
				{{ form.non_field_errors }}
				{% endif %}
			</div>
			{% endif %}
				</div>
			</div>
			<div class="col-lg-4 sidebar-widgets">
				<div class="widget-wrap">
					<div class="single-sidebar-widget search-widget">
						<form class="search-form" action="#">
							<input placeholder="Search Posts" name="search" type="text" onfocus="this.placeholder = ''"
								onblur="this.placeholder = 'Search Posts'">
							<button type="submit"><i class="fa fa-search"></i></button>
						</form>
					</div>

					{% include 'blog/blog-writer.html' %}

					{% latestposts 3 %}

					{% include 'blog/blog-ads.html' %}

					{% postcategories %}
					<div class="single-sidebar-widget newsletter-widget">
						<h4 class="newsletter-title">Newsletter</h4>
						<p>
							Here, I focus on a range of items and features that we use in life without
							giving them a second thought.
						</p>
						<div class="form-group d-flex flex-row">
							<div class="col-autos">
								<div class="input-group">
									<div class="input-group-prepend">
										<div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i>
										</div>
									</div>
									<input type="text" class="form-control" id="inlineFormInputGroup"
										placeholder="Enter email" onfocus="this.placeholder = ''"
										onblur="this.placeholder = 'Enter email'">
								</div>
							</div>
							<a href="#" class="bbtns">Subcribe</a>
						</div>
						<p class="text-bottom">
							You can unsubscribe at any time
						</p>
					</div>
					{% include 'blog/singleblog-tags.html' %}
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End post-content Area -->
{% endblock %}